# Ignore IDE configurations
.idea/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
venv/
env/

# Ignore large data files (if needed)
*.bin
*.sqlite3
*.log
*.dat
*.tar.gz

# Ignore system files
.DS_Store
Thumbs.db
